/* =============================================================================

    // PALETTE CSS
    // Property of Norex
    // Authored by Josh Beveridge

============================================================================= */

/* Greyscale ================================================================ */

    $black: rgba(53, 53, 53, 1);
    $grey-dark: rgba(180, 180, 180, 1);
    $grey: rgba(245, 245, 245, 1);
    $white: rgba(253, 253, 253, 1);

/* Custom Colours =========================================================== */

    /* $red: rgba(251, 20, 60, 1); */
    $red: rgba(234, 15, 107, 1);
