/* =============================================================================

    TYPOGRAPHY CSS
    Property of Norex
    Authored by Josh Beveridge and Justin Bellefontaine

============================================================================= */

/* Forms */
@import 'spec/forms.css';

/* Google Fonts ============================================================= */
$font-roboto: 'Roboto', sans-serif;

/* Typekit Fonts ============================================================ */
$font-freight: 'freight-text-pro', serif;

/* Custom Fonts ============================================================= */

/* Selection ================================================================ */
::selection {
    background: $black;
    color: $white;
}

/* Headings ================================================================= */
h1 {font-size: 2rem;}
h2 {font-size: 1.8rem;}
h3 {font-size: 1.6rem;}
h4 {font-size: 1.4rem;}
h5 {font-size: 1.3rem;}
h6 {font-size: 1.2rem;}

h1, h2, h3, h4, h5, h6 {
    color: $black;
    margin: 2.5rem 0 1rem 0;
}

/* Copy ===================================================================== */

/* Body Font */
p,
a,
strong,
em,
span,
blockquote,
article {
    color: $black;
    margin: 1rem 0;
}

p {

}

hr {
    border: none;
    border-top: 1px solid $black;
    height: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}

blockquote {

}

/* Anchors */
a,
a:visited,
a:link {
    color: red;
}

/* Buttons ================================================================== */
.button,
.button:focus,
.button:active,
.button:link,
.button:visited,
input[type='submit'] {

}

/* Inputs =================================================================== */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input {
    background: none;
    border: none;
    box-shadow: none;
}

/* Lists ==================================================================== */
ul {
    margin: 1rem 0 1rem 1rem;
    padding: 0;
}

dl {
    margin: 0;
    padding: 0;

    dt {
        display: none;
    }

    dd {
        margin: 0;
        padding: 0;
    }

}

/* Tables =================================================================== */
table {
    width: 100%;
}
