/* =============================================================================

    // TYPOGRAPHY CSS
    // Property of Josh Beveridge
    // Authored by Josh Beveridge

============================================================================= */

/* Google Fonts ============================================================= */
$font-roboto: 'Roboto', sans-serif;
$font-roboto-cdn: 'Roboto Condensed', sans-serif;
$font-droid: 'Droid Serif', serif;
$font-freight: 'freight-text-pro', serif;

/* Typekit Fonts ============================================================ */

/* Custom Fonts ============================================================= */

/* Selection ================================================================ */
::selection {
    background: $black;
    color: $white;
}

/* Headings ================================================================= */
h1 {font-size: 2.5rem;}
h2 {font-size: 1.8rem;}
h3 {font-size: 1.6rem;}
h4 {font-size: 1.4rem;}
h5 {font-size: 1.3rem;}
h6 {font-size: 1.2rem;}

h1, h2, h3, h4, h5, h6 {
    color: $black;
    font-family: $font-roboto;
    font-weight: 700;
    line-height: 1.2;
    margin: 3rem 0 1.5rem 0;
}

/* Copy ===================================================================== */

/* Body Font */
p,
a,
strong,
em,
span,
blockquote,
article {
    color: rgba(0, 0, 0, .75);
    font-family: $font-freight;
    margin: 1rem 0;
}

hr {
    border: none;
    border-top: 1px solid $green;
    margin: 2rem 0;
}

blockquote {
    border-left: 1px solid $green;
    margin: 2rem 2rem 2rem 0;
    padding: 0 0 0 2rem;
}

/* Anchors */
a,
a:visited,
a:link {
    color: $green;
    transition: color .3s ease;

    &:hover {

        @media screen and (orientation: landscape) {
            color: $grey-dark;
            transition: color .3s ease;
        }

    }

}

/* Anchor Hover State */
html:not(.touch) {

    a,
    a:visited,
    a:link {

        &:hover {
            color: $grey-dark;
            transition: color .3s ease;
        }

    }

}

/* Buttons ================================================================== */
.button,
.button:focus,
.button:active,
.button:link,
.button:visited,
input[type='submit'] {
    background: none;
    border: 1px solid $white;
    color: $white;
    display: inline-block;
    font-size: 1rem;
    padding: 1rem 3rem;
    text-transform: uppercase;
    transition: background .3s linear;
    width: 100%;

    &:hover {
        background: $green;
        transition: background .3s linear;
    }

}

html.touch {

    .button:hover,
    input[type='submit']:hover {
        background: none;
    }

}

button {
    background: none;
    border: none;
    box-shadow: none;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

/* Inputs =================================================================== */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input {
    background: none;
    border: none;
    box-shadow: none;
}

/* Lists ==================================================================== */
ul {

}

dl {
    margin: 0;
    padding: 0;

    dt {
        display: none;
    }

    dd {
        margin: 0;
        padding: 0;
    }

}

/* Tables =================================================================== */

/* Forms ==================================================================== */
label {
    color: $white;
    font-family: $font-roboto;
    font-size: .7rem;
    font-weight: 300;
}

input {
    /*border-bottom: 1px solid $green;*/
}

textarea {
    border: 1px solid $black;
    margin: 0 0 1rem 0;
    padding: 1rem;
    width: 100%;
}
