/* =============================================================================

    PALETTE CSS
    Authored by Josh Beveridge

============================================================================= */

/* Greyscale */
$black: rgba(43, 42, 40, 1);
$copy: rgba(0, 0, 0, .75);
$grey: rgba(225, 225, 225, 1);
$white: rgba(253, 252, 250, 1);

/* Custom Colours */
$red: rgba(225, 25, 60, 1);
