/* =============================================================================

    // NAVIGATION CSS
    // Property of Josh Beveridge
    // Authored by Josh Beveridge

============================================================================= */

/* Navigation =============================================================== */
.navigation {
    height: 12vh;
    max-width: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;
    z-index: 500;

    @media screen and (orientation:landscape) {
        height: 100vh;
        top: 0;
        bottom: auto;
        width: 10vw;

        &:hover {

            .pane {
                box-shadow: 0 .1rem .4rem rgba(0, 0, 0, .3);
                transition: box-shadow .2s ease, transform .3s ease;
            }

        }

    }

    &.active {

        .pane {
            transform: translate3d(0, -88, 0);
            transform: translate(0, -88%);
            transition: transform .3s ease;

            @media screen and (orientation:landscape) {
                box-shadow: -.1rem 0 .6rem rgba(0, 0, 0, .3);
                transform: translate3d(-90%, 0, 0);
                transform: translate(-90%, 0);
                transition: transform .5s ease;
            }

        }

    }

    .pane {
        background: $white;
        box-shadow: none;
        height: 100vh;
        max-width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate3d(0, 0, 0);
        transition: transform .5s ease;
        width: 100vw;
        z-index: 5;

        @media screen and (orientation:landscape) {
            max-width: none;
        }

        .post-preview {
            box-shadow: 0 .1rem .4rem rgba(0, 0, 0, .3);
            display: block;
            margin: 2rem auto;
            padding: 1.5rem;
            text-decoration: none;
            transition: all .3s ease;
            width: 90%;

            @media screen and (orientation: landscape) {
                width: 65%;
            }

            h1 {
                font-size: 2.3rem;
                font-weight: 900;
                margin: 1rem 0;
                padding: 0;
                transition: all .3s ease;

                @media screen and (orientation: landscape) {
                    font-size: 3rem;
                }

            }

            h6 {
                color: $grey;
                font-size: .8rem;
                margin: 0;
                transition: all .3s ease;
            }

            p {
                margin: 0;
                transition: all .3s ease;
            }

            &:hover {

                @media screen and (orientation: landscape) {
                    background: $red;
                    transition: all .3s ease;

                    h1,
                    h6,
                    p {
                        color: $white;
                        transition: all .3s ease;
                    }

                }

            }

        }

    }

    .menu {
        background: none;
        height: 100%;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;

        dl {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate3d(0, -50%, 0);
            width: 100%;

            @media screen and (orientation:landscape) {
                height: 100%;
                top: 0;
                left: 50%;
                transform: translate3d(-50%, 0, 0);
            }

            dd {
                display: inline-block;
                line-height: 1;
                margin: 0 .5rem;

                @media screen and (orientation:landscape) {
                    display: block;
                    margin: 1.5rem 2rem 1.5rem 1rem;
                    text-align: right;
                    transition: color .3s ease;

                    &:hover button{
                        color: $red;
                        transition: color .3s ease;
                    }

                }

                button {
                    font-family: $font-roboto;
                    font-weight: 700;

                    &.active {
                        color: $red;
                    }

                    &.disable {
                        color: $grey;
                    }

                }

                &:first-of-type {
                    margin: 0 .5rem 0 1rem;

                    @media screen and (orientation:landscape) {
                        margin: 2rem 2rem 1.5rem 1rem;
                    }

                }

                &:last-of-type {
                    perspective: 1000;
                    position: absolute;
                    top: 50%;
                    right: 1rem;
                    transform: translate3d(0, -50%, 0);

                    @media screen and (orientation: landscape) {
                        margin: 0;
                        top: auto;
                        left: 50%;
                        right: auto;
                        bottom: 2rem;
                        transform: translate3d(-50%, 0, 0);

                        &:hover {

                            >button >img {
                                transform: rotateY(180deg);
                                transition: all .3s ease;
                            }

                        }

                    }

                    >button.active {

                        >img {
                            transform: rotateY(180deg);
                            transition: all .3s ease;
                        }

                        .flipper {

                            img:first-child {
                                backface-visibility: hidden;
                                display: block;
                                position: absolute;
                                top: 0;
                                left: 0;
                                transform: rotateY(-180deg);
                                transition: all .3s ease .2s;
                                width: 2.5rem;
                                z-index: 5;

                                @media screen and (orientation: landscape) {
                                    width: 3rem;
                                }

                            }

                            img:last-child {
                                backface-visibility: hidden;
                                display: block;
                                position: absolute;
                                top: 0;
                                left: 0;
                                transform: rotateY(0deg);
                                transition: all .3s ease .2s;
                                width: 2.5rem;

                                @media screen and (orientation: landscape) {
                                    width: 3rem;
                                }

                            }

                        }

                    }

                    >button >img {
                        display: block;
                        position: relative;
                        transform: rotateY(0deg);
                        transition: all .3s ease;
                        width: 2.5rem;

                        @media screen and (orientation: landscape) {
                            width: 3rem;
                        }

                    }

                    .flipper {
                        position: absolute;
                        top: 0;
                        left: 0;
                        transform-style: preserve-3d;

                        img:first-child {
                            backface-visibility: hidden;
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0;
                            transform: rotateY(0deg);
                            transition: all .3s ease .2s;
                            width: 2.5rem;
                            z-index: 5;

                            @media screen and (orientation: landscape) {
                                width: 3rem;
                            }

                        }

                        img:last-child {
                            backface-visibility: hidden;
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0;
                            transform: rotateY(-180deg);
                            transition: all .3s ease .2s;
                            width: 2.5rem;

                            @media screen and (orientation: landscape) {
                                width: 3rem;
                            }

                        }

                    }

                    &.active {

                        >button >img {
                            transform: rotateY(180deg);
                            transition: all .3s ease;
                        }

                        .flipper {

                            img:first-child {
                                backface-visibility: hidden;
                                display: block;
                                position: absolute;
                                top: 0;
                                left: 0;
                                transform: rotateY(180deg);
                                transition: all .3s ease .2s;
                                width: 2.5rem;
                                z-index: 5;

                                @media screen and (orientation: landscape) {
                                    width: 3rem;
                                }

                            }

                            img:last-child {
                                backface-visibility: hidden;
                                display: block;
                                position: absolute;
                                top: 0;
                                left: 0;
                                transform: rotateY(0deg);
                                transition: all .3s ease .2s;
                                width: 2.5rem;

                                @media screen and (orientation: landscape) {
                                    width: 3rem;
                                }

                            }

                        }

                    }

                }

            }

        }

    }

    .navigation-content {
        background: none;
        height: 88%;
        opacity: 0;
        overflow: auto;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate3d(100%, 0, 0);
        transition: opacity 0s ease, transform 0s ease;
        width: 100%;

        @media screen and (orientation:landscape) {
            height: 100%;
            width: 90%;
        }

        &.active {
            opacity: 1;
            transform: translate3d(0, 0, 0);
            transition: opacity .3s ease .5s, transform 0s ease;
        }

    }

}
