/* =============================================================================

    NAVIGATION CSS
    Property of Josh Beveridge
    Authored by Josh Beveridge

============================================================================= */
nav {
    background: $pink;
    height: 90vh;
    overflow: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate3d(0, 88.8888889%, 0);
    transition: background .5s linear, transform .3s ease;
    width: 100vw;
    z-index: 50;

    @media screen and (orientation: landscape) {
        height: 100vh;
        top: 0;
        bottom: auto;
        left: 0;
        transform: translate3d(-88.8888889%, 0, 0);
        width: 90vw;
    }

    @media screen and (orientation: landscape) and (min-width: 1025px) {
        transform: translate3d(-94.736842105%, 0, 0);
        width: 95vw;
    }

    &.active {
        background: $white;
        transform: translate3d(0, 0, 0);
        transition: background .5s linear, transform .3s ease;
    }

    .button-menu {
        background: none;
        height: 11.1111111%;
        margin: 0;
        padding: 0;
        position: relative;
        width: 100%;

        @media screen and (orientation: landscape) {
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            width: 10vw;
        }

        @media screen and (orientation: landscape) and (min-width: 1025px) {
            width: 5vw;
        }

        &.active {
            display: none;
        }

        span {
            color: $white;
            font-family: $font-roboto;
            font-size: 1.7rem;
            font-weight: 100;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            text-align: center;
            text-transform: uppercase;
            transform: translate(-50%, -50%);

            @media screen and (orientation: landscape) {
                transform: translate(-50%, -50%) rotate(90deg);
            }

        }

    }

}
