/* =============================================================================

    // ARTICLE CSS
    // Property of Josh Beveridge
    // Authored by Josh Beveridge

============================================================================= */

/* Article ================================================================== */
article {
    margin: 0;
    max-width: 100%;
    position: relative;
    width: 100vw;

    @media screen and (orientation:landscape) {
        width: 90vw;
    }

    .article-photo {
        background-color: $grey;
        background-position: center;
        background-size: cover;
        max-width: 100%;
        padding: 8rem 0 0 0;
        position: relative;
        width: 100vw;
        z-index: 5;

        @media screen and (orientation: landscape) {
            padding: 5rem 0 0 0;
        }

        &:after {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.95+0,0.3+100 */
            background: -moz-linear-gradient(-45deg,  rgba(0,0,0,0.95) 0%, rgba(0,0,0,0.3) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,0,0,0.95)), color-stop(100%,rgba(0,0,0,0.3))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(-45deg,  rgba(0,0,0,0.95) 0%,rgba(0,0,0,0.3) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(-45deg,  rgba(0,0,0,0.95) 0%,rgba(0,0,0,0.3) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(-45deg,  rgba(0,0,0,0.95) 0%,rgba(0,0,0,0.3) 100%); /* IE10+ */
            background: linear-gradient(135deg,  rgba(0,0,0,0.95) 0%,rgba(0,0,0,0.3) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2000000', endColorstr='#4d000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            content: '';
            display: block;
            height: 100%;
            opacity: .5;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 5;
        }

        .container {
            background: none;
            /*box-shadow: 0 .1rem .4rem rgba(0, 0, 0, .3);*/
            margin-bottom: 0;
            padding: 1.5rem 1.5rem 0 1.5rem;
            position: relative;
            width: 100%;
            z-index: 10;

            @media screen and (orientation: landscape) {
                padding: 5rem 5rem 0 5rem;
                width: 65%;
            }

        }

        h1 {
            color: $grey;
            font-size: 2.3rem;
            font-weight: 900;
            margin: 2rem 0 0 0;
            padding: 0 0 2rem 0;
            text-align: center;

            @media screen and (orientation: landscape) {
                font-size: 3rem;
                padding: 0 0 3rem 0;
            }

        }

        h6 {
            color: $grey-dark;
            font-size: .8rem;
            margin: 0;
            text-align: center;
        }

    }

    .content {
        background: $grey;
        z-index: 10;

        .container {
            /*box-shadow: 0 .1rem .4rem rgba(0, 0, 0, .3);*/
            margin-bottom: 5rem;
            padding: 1.5rem;

            @media screen and (orientation: landscape) {
                margin-bottom: 0;
                padding: 3rem 5rem 5rem 5rem;
            }

            *:first-child {
                margin-top: 0;
            }

        }

    }

    .social {
        text-align: center;

        dd {
            display: inline-block;
            margin: 0 3rem 1rem 3rem;

            @media screen and (orientation: landscape) {
                margin: 0 .5rem;
            }

            i {
                color: $black;
                margin: 0 .5rem 0 0;
            }

        }

    }

    .tol {
        text-align: center;
    }

}
