/* =============================================================================

    // HERO CSS
    // Property of Josh Beveridge
    // Authored by Josh Beveridge

============================================================================= */

/* Hero ===================================================================== */
.hero {
    background: $grey;
    background-position: center;
    background-size: cover;
    height: 88vh;
    max-width: 100%;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(0, 0, 0);
    transition: transform .3s linear .1s, opacity .3s linear .1s, top 0s linear;
    width: 100vw;
    z-index: 50;

    @media screen and (orientation:landscape) {
        height: 100vh;
        width: 90vw;
    }

    &.active {
        opacity: 0;
        top: -100%;
        transform: translate3d(0, -3rem, 0);
        transition: transform .3s linear, opacity .3s linear, top 0s linear .3s;
    }

    .overlay {
        background: $white;
        height: 100%;
        opacity: .95;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
    }

    >.wrapper {
        opacity: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -60%, 0);
        transition: opacity .3s linear .3s;
        z-index: 15;

        @media screen and (orientation: landscape) {
            transform: translate3d(-55%, -60%, 0);
        }

        &.hidden {
            opacity: 0;
            transition: opacity .3s linear, z-index 0s linear .3s;
            z-index: 0;
        }

        h1:nth-child(1) {
            display: block;
            font-size: 4rem;
            font-weight: 900;
            letter-spacing: -.2rem;
            line-height: 1;
            margin: 0;
            white-space: nowrap;

            @media screen and (orientation: landscape) {
                font-size: 8rem;
                letter-spacing: -.4rem;
            }

            span {
                font-family: $font-roboto;
                line-height: 1;
                margin: 0 0 0 -.2rem;
            }

        }

        h1:nth-child(2) {
            color: rgba(0,0,0,.75);
            display: block;
            font-family: $font-freight;
            font-size: 1.3rem;
            font-weight: 500;
            margin: 0;

            @media screen and (orientation: landscape) {
                font-size: 1.5rem;
                margin: 0 0 0 .4rem;
            }

            span {
                color: rgba(0,0,0,.75);
                cursor: pointer;
                text-decoration: underline;
                transition: all .1s linear;

                &:hover {
                    color: $green;
                    transition: all .1s linear;
                }

            }

        }

    }

    .recent-post {
        color: $grey-dark;
        font-family: $font-roboto;
        font-size: .8rem;
        position: absolute;
        left: 50%;
        bottom: 2rem;
        text-decoration: none;
        transform: translate3d(-50%, 0, 0);
        z-index: 15;

        i {
            margin: 0 0 0 .5rem;
        }

        &:hover {

            @media screen and (orientation:landscape) {
                color: $green;
            }

            i {

                @media screen and (orientation:landscape) {
                    animation: bounce 1s linear infinite;
                }

            }

        }

        &.hidden {
            opacity: 0;
            z-index: 0;
        }

    }

}

.why {
    height: 88vh;
    opacity: 0;
    overflow: auto;
    padding: 2rem 1.5rem 1.5rem;
    position: relative;
    transition: opacity .3s linear, z-index 0s linear .3s;
    width: 100%;
    z-index: 0;

    @media screen and (orientation: landscape) {
        height: 20rem;
        margin: auto;
        overflow: visible;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 60%;
    }

    &.active {
        opacity: 1;
        transition: opacity .3s linear .3s;
        z-index: 15;
    }

    .why-menu {
        text-align: center;

        @media screen and (orientation: landscape) {
            display: inline-block !important;
            text-align: right;
            vertical-align: top;
            width: 15%;
        }

        dd {
            display: inline-block;
            margin: 0 .5rem;

            @media screen and (orientation: landscape) {
                display: block;
                margin: 0;
            }

            &.active {

                button {
                    color: $green;
                    transition: color .3s linear;
                }

            }

            button {
                font-weight: 900;
                margin: 0;
                text-decoration: underline;
                transition: color .3s linear;

                @media screen and (orientation: landscape) {
                    margin: 0 0 .75rem 0;
                }

                &:hover {

                    @media screen and (orientation: landscape) {
                        color: $green;
                    }

                }

            }

        }

        .return {
            display: block;
            margin: 0;
            text-align: left;

            @media screen and (orientation: landscape) {
                text-align: right;
            }

            button {
                margin: 0 0 1rem 0;

                @media screen and (orientation: landscape) {
                    margin: 0 0 .75rem 0;
                }

                i {
                    font-size: .8rem;
                    margin: 0 .2rem 0 0;
                }

            }

        }

    }

    .why-content {
        position: relative;

        @media screen and (orientation: landscape) {
            display: inline-block;
            vertical-align: top;
            width: 80%;
        }

        p {
            opacity: 0;
            position: absolute;
            transition: opacity .3s linear;

            @media screen and (orientation: landscape) {
                margin: 0;
                padding: 0 0 0 1.5rem;
            }

            &.active {
                opacity: 1;
                transition: opacity .3s linear;
            }

        }

        button {

            @media screen and (orientation: landscape) {
                position: absolute;
                bottom: 0;
                left: 1.5rem;
                transform: translate3d(0, 150%, 0);
            }

        }

    }

}

@keyframes bounce {
    0% {transform: translate3d(0, 0, 0);}
    25% {transform: translate3d(0, -10%, 0);}
    50% {transform: translate3d(0, 0, 0);}
    75% {transform: translate3d(0, 10%, 0);}
    100% {transform: translate3d(0, 0, 0);}
}
