/* =============================================================================

    // PALETTE CSS
    // Property of Norex
    // Authored by Josh Beveridge

============================================================================= */

/* Greyscale ================================================================ */

    $black: rgba(35, 35, 35, 1);
    $grey-dark: rgba(130, 130, 130, 1);
    $grey: rgba(245, 245, 245, 1);
    $off-grey: rgba(251, 251, 250, 1);
    $white: rgba(250, 250, 250, 1);

/* Custom Colours =========================================================== */

    /* $red: rgba(251, 20, 60, 1); */
    $red: rgba(255, 0, 63, 1);
    /*$green: rgba(151, 215, 0, 1);*/
    $green: rgba(255, 0, 63, 1);
    $disabled: rgba(50, 50, 50, 1);
